

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// $primary: #fff;
// $secondary: #000;

$primary: #222831;
$secondary: #393E46;
$-original-accent:#D65A31;
$accent:#ff9d7c;
$tertiary:#fff;



@mixin mobile {
    @media only screen and (min-width: 340px) and (max-width: 649px){
        @content;
    }
}

@mixin mobile-landscape {
    @media only screen and (min-width: 650px){
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 768px){
        @content;        
    }
}

@mixin desktop {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Montserrat, rockwell;
    // font-size: 1.1em;
}
html{
    scroll-behavior: smooth !important;
}
body{
    background-color: $primary;
    // background-color: $tertiary;
}
#header{

    // background-color: #393E46 !important;

    #header-nav{

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        // background-color: $primary;
        background-color: $accent;
        position: fixed;
        width: 100%;
        // color: $tertiary;
        color: $primary;
        z-index:2;

        @include desktop{
            font-size: 22px;
        }

        #header-nav-figure{

            img{
                display: none;
            }
            figcaption{
                font-family: Pacifico;
                font-weight: bold;
                // color:#fff;
                // text-shadow:0px 0px 5px black;


                @include mobile-landscape{
                    margin-left:35%;
                 }
            }
        }
        
        div{
            #ham{
                .div1, .div2, .div3 {
                    height:3px;
                    width: 25px;
                    margin-top: 3px;
                    background-color:$primary;
                    // background-color:#fff;
                    // box-shadow:0px 0px 2px black;

                }

                @include mobile-landscape{
                    display: none;
                }
            }

        
            #desktop-none{
                display: block;
                position: fixed;
                top:0;
                right: -70%;
                // background-color: black;
                background-color: $primary;
                width:70%;
                // height:100%;
                bottom:-10%;
                padding-top:10%;
                transition: .2s ease-in-out;


                @include mobile-landscape{
                    position: unset;
                    padding: unset;
                    // background-color: #EEEEEE;
                }
    
                #cross{
                    margin-left: 75%;
                    margin-bottom: 20%;

                    @include mobile-landscape{
                        display: none;
                    }
        
                    
                    .div1, .div2{
                        background-color: #eee;
                        width: 27px;
                        height:5px;
                    }

                    .div1{
                        transform: rotate(45deg) translate(3px, -1px);
                    }

                    .div2{
                        transform: rotate(-45deg) translate(5px, 0px);

                    }
                }
                
            }
        }
    
      ul{
        // margin-left:30%;
        background-color: $secondary;
        padding:10% 0;

        @include mobile-landscape{
           display: flex;
           justify-content: space-evenly;
           align-items: center;
           background-color: $accent;
           padding: unset;
        }

        li{
            list-style-type: none;
            margin: 15px auto;
            text-align: center;
            padding:4px 8px;

            @include mobile-landscape{
                margin:5px ;
                &:hover{
                    // background-color: $primary;
                    box-shadow: 3px 2px 5px $primary;
                    border-radius: 5px;
                }
             }

             @include desktop{
                margin:5px 15px;
             }

            a{
                // color: $primary;
                color: #eee;
                text-decoration: none;
                font-weight: bold;

                @include mobile-landscape{
                    //    color:$secondary
                    // color: $tertiary;
                    color: $primary;
                    // &:hover{
                    //     // color:#fff;
                    // }

                }
            }
        }
      }
    }

    #hero{
        // background: linear-gradient(180deg, $primary, $secondary);
        background: $accent; //delete this
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top:110px ;
        padding-bottom: 15%;
        position: relative;
        // z-index: -1;
       

        @include mobile-landscape{
            padding-top:13%;
        }

      
        .hero-wrapper{
            padding:0 20%;

            @include tablet{
                padding: 0 15%;
            }

            @include desktop{
                padding: 0 12%;
            }
        }

        .hero-wrapper-container{
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mobile-landscape{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                flex-direction: row;
                justify-content: space-around;
            }
            
        }
        
        
        #image{
            // background-color: black;
            height: 120px;
            width: 120px;
            margin-bottom: 5%;
            border-radius: 50%;
            // background-image: url(/images/sqiniseko.jpg);
            background-image: url(/images/Sqiniseko-bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;

            @include mobile-landscape{
                margin-bottom: 0;
            }

            @include tablet{
                width:200px;
                height:200px;
            }

            @include desktop{
                width:300px;
                height:300px;
            }
    
        }

        div{

            display: block;
            text-shadow:0px 0px 5px black;
            
            h1{
                text-align: center;
                padding: 10px 0;
                // color: $accent;
                // color: $primary;
                color: $tertiary;
                font-weight: bolder;
    
                @include mobile-landscape{
                    text-align: left;
                    // margin-left: 20px;
                    margin-bottom: 10px;
                    padding: unset;
                    width: 120%;
                }

                @include tablet{
                  font-size: 43px;
                  width: 120%;
                }
                
                @include desktop{
                    // font-size: 50px;
                    // width: 130%;
                    width: 120%;
                    font-size:75px;
                }
            }
    
            #message{
                padding: 0% 10%;
    
                @include mobile-landscape{
                   padding:unset;
                }
                
                p{
                    color: $tertiary;
                    // color: $secondary;
                    text-align: center;
    
                    @include mobile-landscape{
                        text-align: left;
                    }

                    @include tablet{
                        font-size: 21px;
                        width: 112%;
                    }

                    @include desktop{
                        // font-size: 50px;
                        width: 107%;
                        font-size:27px;
                    }
                }
            }

            a{
                color:#fff;
                background:$primary;
                text-decoration:none;
                display:block;
                margin:16px auto;
                padding:8px 3px;
                text-align:center;
                border-radius:5px;
                font-weight: bold;

                @include desktop{
                    padding:12px 3px;
                    font-size: 19px;
                }
            }
        }

    }
}

main{
    @include desktop{
        font-size: 20px;
    }

    h2{
        @include tablet{
            font-size: 2em;
        }
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-bottom: 10%;
    }

    .list-items{
        // margin-top: 5%;
        list-style-type: none;
        text-align: center;

        @include tablet{
            font-size: 1.3em;
        }
    }

    #section-1{
        color: #EEEEEE !important;
        // background-image: url('/images/micro.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // background-color: $secondary;
        background-color: $primary;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        // display: none;
        
        .section-1-container{
            padding:10% 20px;
            margin: 0px;
            // background-color: rgba($color: $secondary, $alpha: 0.9);
            @include mobile-landscape{
                padding-bottom: 5%;
            }
            @include tablet{
                padding-bottom: 5%;
            }
        }

        .section-1-wrapper{
            padding: 0 10%;

            @include mobile-landscape{
                // display: grid;
                // grid-template-columns: repeat(2, 1fr);
                // justify-content: space-around;
                // justify-items: center;
                // gap:15px;
                padding: 0 54px;
            }

            p{
                text-align:justify;
                margin:13px auto;

                // @include mobile-landscape{
                //     text-align: center;
                // }
    

                @include tablet{
                    font-size: 1.3em;
                    text-align: center;
                }
            }

        }

        
        h2{
            margin-bottom: 4%;
            color:$accent;
            // color:red;
        }

        h3{
            color:#fff;
        }

        // .section-1-header{
        //     // text-align: left;
        // }
        
        div{
            margin:2% auto;            
        }
    }

  


    #projects{
        padding-top: 2%;
        color:#eee;
        background-color:  $primary;

        h2{
            text-align: center;
            margin-bottom: 10%;
            color:$accent;

            @include mobile-landscape{
                margin-bottom: 5%;
            }

            @include tablet{
                margin-bottom: 5%;
            }
        }
        .my-project{

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            // margin-bottom: 7%;
            
            @include mobile{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
            }
            @include mobile-landscape{
                margin-bottom: 0%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;
            }

            @include desktop{
                gap:1.5em;
            }
            
            .project1, .project2, .project3, .project4 {
                background-color: $secondary;
                height: 125px;
                width: 125px;
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
                box-shadow:0px 0px 6px black;
                margin-bottom:10%;
                // border:1px solid rgba($color:$secondary, $alpha: 0.9);
                @include mobile{
                    margin: unset;
                }
                
                @include mobile-landscape{
                    height: 120px;
                    width: 120px;
                    margin:0;
                }

                @include tablet{
                    height: 164px;
                    width: 164px;
                }

                @include desktop{
                    height: 200px;
                    width: 200px;
                }
                
                &:hover{
                    .hover{
                        margin-top: 0%;
                    }
                }
                
                .dark{
                    width: 100%;
                    height: 100%;
                    // background-color: rgba($color:$secondary, $alpha: 0.7);
                    overflow: hidden;
                }
                

                .hover{
                    // background-color: rgba($color:$secondary, $alpha: 0.9);
                    background-color: rgba($color:$accent, $alpha: 0.9);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    margin-top: 100%;
                    overflow: hidden;
                    transition:0.5s ease-in-out;
                    
                    
                    a{
                        // color:$primary;
                        color:#000;
                        text-align: center;
                    }
                }

            }
            .project1{
                background-image: url('/images/theoffcampus.jpg');
            }
            .project2{
                background-image: url('/images/app-1.png');
            }
            .project3{
                background-image: url('/images/images.png');
            }
            .project4{
                background-image: url('/images/nelisiwe.jpg');
            }
        }
    
    }

    .hr{
        display: flex;
        justify-content: center;
        // background-color: #393E46;
        padding:15px 0px;
        display: none;

        hr{
            width: 70%;
            background-color: #D65A31;
        }
    }

    .call{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5em 0;
        background-color: #eee;
        background-color: $primary;
        // color:white;
        color:#eee;
        margin:7% auto;

        @include mobile-landscape{
            padding:2.5em 0;
            margin:3% auto;
        }

       
        h2{
            margin:5px;
        }

        h3{
            @include tablet{
                font-size: 1.3em;
            }

            a{
                // color:$primary;
                color:#fff;
                text-shadow:0px 0px 5px black;
                font-weight: bold;
                background-color: $accent;
                text-decoration: none;
                padding:6px 9.5px;
                border-radius:3px;
            }
        }

        form{
            padding: 10%;
            width: 100%;
            display: none;
            div{
                display: flex;
                flex-direction: column;
                margin:5% 0;

                input{
                    border-radius: 5%;
                    border: 2px solid $secondary;
                    padding: 4px 0;
                }

                textarea{
                    border: 2px solid $secondary;
                    // padding: 4px 0;
                }
            }
        }

        .call-button{
            color: $primary;
            background-color: $secondary;
            text-decoration: none;
            padding: 5px 10px;
            border-radius:5px;

        }
    }
}

footer{
    // padding:5% 0;
    background-color: $primary;
    
    div{
        background-color: #393E46;
        padding: 1em 6%;

        @include mobile-landscape {
            padding:1.5em 6%;
        }

        .wrapper{
            display:flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 0;
            
            .call{
                background-image: url(/images/call1.svg);
            }
            .email{
                background-image: url(/images/email1.svg);
            }

            .facebook{
                background-image: url(/images/facebook1.svg);
            }
            .whatsapp{
                background-image: url(/images/whatsapp1.svg);
            }

            img{
                width:50px;
                height:50px;
                display: none;
            }
        }

        .img{
            background-color: #fff;
            border-radius: 100%;
            height: 30px;
            width: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // background-image: url(/images/whatsapp1.svg);
        }

        a{
            color:white;
            // display: block;
        }
        
        p{
            color: white;
            // display: none;
            padding-top: 10%;
            text-align: center;
        }
    }

    p{
    //   color: black;
      color: white;
      text-align: center;
    //   margin: 5% 0;
      padding: 1em;

      @include mobile-landscape {
        padding:1.5em 6%;
      }
    }
}