*{
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
header{
    margin-bottom: 80px;
    background:#fff;
   
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}
#figure-figcaption{
    font-style:italic;
    /* font-size: bold; */
}
#mobile-none{
    /* position: absolute; */
    position: fixed;
    /* background-color: pink; */
    background:#1E1C1C ;
    margin-left: -100px;
    top: 0;
    right: 0;
    bottom:0;
    padding: 20px 0px;
    /* height: 200%; */
    /* width: 80%; */
    width:0;
    z-index:5;
    display: none;
    transition: 0.1s ease-in;
}
#cross{
    margin-left: 80%;
    margin-bottom: 40px;
    margin-top: 20px;
}
#cross .cross1, .cross2{
    background-color: #fff;
    box-shadow: 0px 0px 2px black;
    width: 25px;
    height: 3px;
    margin-top: 2px;
}
.cross1{
   transform:rotate(45deg) translate(1px, 0px);
}
.cross2{
    transform: rotate(-45deg) translate(3px, -2px);
}
#mobile-none ul{
    padding: 10px 0;
    margin-top: 50px;
    background-color: black;
}
#mobile-none li{
    list-style-type: none;
    text-align: center;
    margin: 15px 0;
    /* padding:10px; */
}
#mobile-none li:nth-child(3){
    /* border: 1px solid pink; */
    border:1px solid rgb(248, 131, 131);
    width: 80%;
    margin-left: 10%;
    padding: 10px;
}
#mobile-none li:nth-child(3):hover{
    /* border: 1px solid pink; */
    border:none;
}
#mobile-none li a{
    color: #fff;
    text-decoration: none;
    text-shadow:0px 0px 2px black;
    padding:10px;

}
#mobile-none li a:hover{
    color: #fff;
    background-color: black;
    border:1px dotted rgb(248, 131, 131);
    /* padding: 10px; */
}
#ham .bar1 , .bar2, .bar3{
    background-color: black;
    width: 25px;
    height: 3px;
    margin-top: 2px;
}
h1{
    margin-left: 15px;
    margin-top:30px;
    text-align: center;
}
h1 .skin-care{
}
h1 .By{
    color: rgb(248, 131, 131);/*pink;*/
}
h1 .zim-zuh{
    font-style: italic;
    font-size: 60px;
    margin-top: -15px;
}
main #pink > div{
    /* transform: skewY(-2deg); */
}
main #pink{
    /* background: pink; */
    background-color: rgb(248, 131, 131);/*pink;*/
    /* padding: 30px 20px; */
    padding:30px 0;
    transform: skewY(-2deg);
    margin-bottom: -5px;

}
main #pink div img{
    width: 84%;
    transform: skewY(0deg);
    margin-bottom: 10px;
    margin-left: 10%;
    margin-top:5vh;
}
main #pink p{
    color: #fff;
    text-shadow: 0px 0px 8px black;
    width: 240px;
    transform: skewY(0deg);
    margin-bottom: 10px;
    margin-left: 7vw;
}
main #pink .div2 {
  transform: skewY(2deg);
}
main #green{
    /* background: pink; */
    background-color:rgb(81, 216, 139);
    /* padding: 30px 20px; */
    padding:30px 0;
    /* transform: skewY(-2deg); */
    margin-bottom: 5vh;

}
main #green div img{
    width: 84%;
    transform: skewY(0deg);
    margin-bottom: 10px;
    margin-left: 10%;
    margin-top:5vh;
}
main #green p{
    color: #fff;
    text-shadow: 0px 0px 8px black;
    width: 240px;
    /* transform: skewY(2deg);   */
    margin-bottom: 10px;
    margin-left: 7vw;
    margin-top:2vh;
}
main .div1, .div2, .green .div2{
    transform: skewY(2deg);
}
main > p{
    color: #fff;
    text-shadow: 0px 0px 8px black;
    width: 240px;
    transform: skewY(0deg);
    margin-bottom: 10px;
    margin-left: 7vw;
}
.cta{
    transform: skewY(2deg);
}
.cta p{
    /* transform: skewY(0deg); */
}
.cta a{
    color:#fff;
    text-shadow: 0px 0px 8px black;
    padding:5px 80px;
    /* padding: 0; */
    text-decoration: none;
    background:rgb(81, 216, 139);
    border-radius: 50px;
    margin-left:11%;

}
#CTA{
  /* margin-left: 10%; */
  text-align: center;
  margin-top: 5vh;
}
#CTA p{
  /* margin-bottom: 5vh; */
  margin-bottom:15px;
}
#CTA a{
  color:#fff;
  text-shadow: 0px 0px 8px black;
  padding:5px 80px;
  /* padding: 0; */
  text-decoration: none;
  background:rgb(81, 216, 139);
  border-radius: 50px;
  /* margin-left:5%; not the same as index style*/

}
main #green .div1, .div2{
  transform:skewY(0deg);
}
footer{
    margin-top: 5vh;
    margin-bottom: 20px;
}
footer div{
    color: #fff;
    background-color:#1E1C1C ;
    text-align: center;
    padding:20px;
    margin-bottom:20px;
}
footer > p{
    text-align: center;
    font-style: italic;
}
footer a{
    color:rgb(248, 131, 131);
    text-decoration:none;
}
footer > p > a{
    color:rgb(248, 131, 131);/*pink;*/
    text-decoration: none;
    text-shadow: 0px 0px 1px black;
}
footer ul{
    margin-top: 20px;
    padding:0;
}
footer ul li{
    list-style-type: none;
    display: inline;
    margin: 5px 5%;
    /* border-radius: 50%; */
}
footer img{
    width:20px;
    background-color: #ffff;
    padding: 0;
    border-radius: 50%;
}














@media only screen and (min-width:823px){
  #ham{
    display: none;
}
#figure-figcaption{
  margin-top: 10px;
}
#mobile-none{
    /* position: absolute; */
    /* color: black; */
    position: unset;
    /* background-color: pink; */
    background-color:#fff;
    margin-left: 0%;
    padding: 0px 0px;
    /* margin-top: 0px; */
    /* height: 200%; */
    /* width: 80%; */
    width: 95% !important;
    z-index:0;
    display: block;
    transition: none;
}
#mobile-none ul{
    margin-top: 0px;
    background-color:#fff;
    margin-left: -35%;
    /* width: 200%; */
}
/* #mobile-none ul{
    padding: 10px 0;
    margin-top: 50px;
    background-color: black;
} */
#mobile-none ul li {
    display: inline;
    margin:0 1%;
}
#mobile-none ul li a{
    color: black;
    text-shadow: none;
}
#cross {
    display: none;
}
h1{
    margin:15vh 0 15vh 0;
}
.skin-care{
    font-size: 2em
}
.By{
    font-size: 1.5em
}
.zim-zuh{
    /* margin-top:5vh */
    font-size: 4em!important;
}
/* main #pink {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
} */
main #pink > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transform: skewY(2deg);
}
main #pink div img{
    width: 50%;
    margin-left: 25%; /*take note*/
    height:20vh !important;
    margin-bottom: 2vh;
}
main #pink .div2{
  transform:skewY(0deg);
}
main #pink p{
  text-align: center;
  width:70%;
  margin-bottom: 2vh;
}
main #pink .cta{
  border-right:4px solid rgb(255, 201, 180);
  display: block;
  margin-right:5%;
  /* transform: skewY(0deg); */
}
main #pink div div{
  transform: skewY(0deg);
}
main #pink div .cta p{
  height: 5vh;
  /* margin-top: 20vh; */
  margin-bottom: 30%;
  width:70%;
}
main #pink .cta img{
  /* height: 85vh; */
  margin-bottom: 3vh;
  margin-top: 15vh;
/*   width:60%; */
    width:400px !important;
    height:300px;
  margin-left:20%
}
main #pink .cta a{
  padding:5px  30%;
  margin-left: 11%;
  /* padding-left: 5%; */
  /* display: block; */
  width:250px;
  margin-left: calc(width - 10px);
}
main #pink div div.div1{
  border-bottom: 4px solid rgb(255, 201, 180);
}

#CTA{
    padding-top:20px;
    padding-bottom:20px;
}
main #green{
  margin-top: -5vh;
}
#green .div1, #green .div2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom:6vh;
}
#green .div1{
  margin-top: 7vh;
  border-bottom: 4px solid rgb(98, 222, 152);
  padding-bottom:5vh;
  /* margin-bottom:6vh; */
}

#green p{
  margin-top:7vh;
}
main #green div img{
  width:60%;
  margin-top:2vh;
}
footer .detail > p{
    width: 20%;
    margin-left:40% ;
}
}






@media only screen and (min-width:788px) and (max-width:822px){
  #ham{
    display: none;
}
#figure-figcaption{
  margin-top: 10px;
}
#mobile-none{
    /* position: absolute; */
    /* color: black; */
    position: unset;
    /* background-color: pink; */
    background-color:#fff;
    margin-left: 0%;
    padding: 0px 0px;
    /* margin-top: 0px; */
    /* height: 200%; */
    /* width: 80%; */
    width: 95% !important;
    z-index:0;
    display: block;
    transition: none;
}
#mobile-none ul{
    margin-top: 0px;
    background-color:#fff;
    margin-left: -35%;
    /* width: 200%; */
}
/* #mobile-none ul{
    padding: 10px 0;
    margin-top: 50px;
    background-color: black;
} */
#mobile-none ul li {
    display: inline;
    margin:0 1%;
}
#mobile-none ul li a{
    color: black;
    text-shadow: none;
}
#cross {
    display: none;
}
h1{
    margin:15vh 0 15vh 0;
}
.skin-care{
    font-size: 1.2em
}
.By{
    font-size: 1em
}
.zim-zuh{
    /* margin-top:5vh */
    font-size: 2.5em!important;
}
/* main #pink {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
} */
main #pink > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transform: skewY(2deg);
}
main #pink div img{
    width: 50%;
    margin-left: 25%; /*take note*/
    height:20vh !important;
    margin-bottom: 2vh;
}
main #pink .div2{
  transform:skewY(0deg);
}
main #pink p{
  text-align: center;
  width:70%;
  margin-bottom: 2vh;
}
main #pink .cta{
  border-right:4px solid rgb(255, 201, 180);
  display: block;
  margin-right:5%;
  /* transform: skewY(0deg); */
}
main #pink div div{
  transform: skewY(0deg);
}
main #pink div .cta p{
  height: 5vh;
  /* margin-top: 20vh; */
  margin-bottom: 50%;
  width:70%;
}
main #pink .cta img{
  /* height: 85vh; */
  margin-bottom: 3vh;
  margin-top: 15vh;
  width:60%;
  margin-left:20%
}
main #pink .cta a{
  padding:5px  30%;
  margin-left: 11%;
  /* padding-left: 5%; */
  /* display: block; */
  width:250px;
  margin-left: calc(width - 10px);
}
main #pink div div.div1{
  border-bottom: 4px solid rgb(255, 201, 180);
}

#CTA{
    padding-top:20px;
    padding-bottom:20px;
}
main #green{
  margin-top: -5vh;
}
#green .div1, #green .div2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom:6vh;
}
#green .div1{
  margin-top: 7vh;
  border-bottom: 4px solid rgb(98, 222, 152);
  padding-bottom:5vh;
  /* margin-bottom:6vh; */
}

#green p{
  margin-top:7vh;
}
main #green div img{
  width:60%;
  margin-top:2vh;
}
footer .detail > p{
    width: 20%;
    margin-left:40% ;
}
}









@media only screen and (min-width:768px) and (max-width:787px){
  #ham{
    display: none;
}
#figure-figcaption{
  margin-top: 10px;
}
#mobile-none{
    /* position: absolute; */
    /* color: black; */
    position: unset;
    /* background-color: pink; */
    background-color:#fff;
    margin-left: 0%;
    padding: 0px 0px;
    /* margin-top: 0px; */
    /* height: 200%; */
    /* width: 80%; */
    width: 95% !important;
    z-index:0;
    display: block;
    transition: none;
}
#mobile-none ul{
    margin-top: 0px;
    background-color:#fff;
    margin-left: -35%;
    /* width: 200%; */
}
/* #mobile-none ul{
    padding: 10px 0;
    margin-top: 50px;
    background-color: black;
} */
#mobile-none ul li {
    display: inline;
    margin:0 1%;
}
#mobile-none ul li a{
    color: black;
    text-shadow: none;
}
#cross {
    display: none;
}
h1{
    margin:15vh 0 15vh 0;
}
.skin-care{
    font-size: 1.2em
}
.By{
    font-size: 1em
}
.zim-zuh{
    /* margin-top:5vh */
    font-size: 2.5em!important;
}
/* main #pink {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
} */
main #pink > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transform: skewY(2deg);
}
main #pink div img{
    width: 50%;
    margin-left: 25%; /*take note*/
    height:20vh !important;
    margin-bottom: 2vh;
}
main #pink .div2{
  transform:skewY(0deg);
}
main #pink p{
  text-align: center;
  width:70%;
  margin-bottom: 2vh;
}
main #pink .cta{
  border-right:4px solid rgb(255, 201, 180);
  display: block;
  margin-right:5%;
  /* transform: skewY(0deg); */
}
main #pink div div{
  transform: skewY(0deg);
}
main #pink div .cta p{
  height: 5vh;
  /* margin-top: 20vh; */
  margin-bottom: 85%;
  width:70%;
}
main #pink .cta img{
  /* height: 85vh; */
  margin-bottom: 3vh;
  margin-top: 15vh;
  width:60%;
  margin-left:20%
}
main #pink .cta a{
  padding:5px  30%;
  margin-left: 11%;
  /* padding-left: 5%; */
  /* display: block; */
  width:250px;
  margin-left: calc(width - 10px);
}
main #pink div div.div1{
  border-bottom: 4px solid rgb(255, 201, 180);
}

#CTA{
    padding-top:20px;
    padding-bottom:20px;
}
main #green{
  margin-top: -5vh;
}
#green .div1, #green .div2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom:6vh;
}
#green .div1{
  margin-top: 7vh;
  border-bottom: 4px solid rgb(98, 222, 152);
  padding-bottom:5vh;
  /* margin-bottom:6vh; */
}

#green p{
  margin-top:7vh;
}
main #green div img{
  width:60%;
  margin-top:2vh;
}
footer .detail > p{
    width: 20%;
    margin-left:40% ;
}

}








@media only screen and (min-width:568px) and (max-width:767px){
    #ham{
        display: none;
    }
    #figure-figcaption{
      margin-top: 10px;
    }
    #mobile-none{
        /* position: absolute; */
        /* color: black; */
        position: unset;
        /* background-color: pink; */
        background-color:#fff;
        margin-left: 0%;
        padding: 0px 0px;
        /* margin-top: 0px; */
        /* height: 200%; */
        /* width: 80%; */
        width: 95% !important;
        z-index:0;
        display: block;
        transition: none;
    }
    #mobile-none ul{
        margin-top: 0px;
        background-color:#fff;
        margin-left: -35%;
        /* width: 200%; */
    }
    /* #mobile-none ul{
        padding: 10px 0;
        margin-top: 50px;
        background-color: black;
    } */
    #mobile-none ul li {
        display: inline;
        margin:0 1%;
    }
    #mobile-none ul li a{
        color: black;
        text-shadow: none;
    }
    #cross {
        display: none;
    }
    h1{
        margin:15vh 0 15vh 0;
    }
    .skin-care{
        font-size: 1.2em
    }
    .By{
        font-size: 1em
    }
    .zim-zuh{
        /* margin-top:5vh */
        font-size: 2.5em!important;
    }
    /* main #pink {
      display: grid;
      grid-template-columns: repeat(2, 1fr)
    } */
    main #pink > div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transform: skewY(2deg);
    }
    main #pink div img{
        width: 50%;
        margin-left: 25%; /*take note*/
        height:20vh !important;
        margin-bottom: 2vh;
    }
    main #pink .div2{
      transform:skewY(0deg);
    }
    main #pink p{
      text-align: center;
      width:70%;
      margin-bottom: 2vh;
    }
    main #pink .cta{
      border-right:4px solid rgb(255, 201, 180);
      display: block;
      margin-right:5%;
      /* transform: skewY(0deg); */
    }
    main #pink div div{
      transform: skewY(0deg);
    }
    main #pink div .cta p{
      height: 5vh;
      /* margin-top: 20vh; */
      margin-bottom: 85%;
      width:70%;
    }
    main #pink .cta img{
      /* height: 85vh; */
      margin-bottom: 3vh;
      margin-top: 15vh;
      width:60%;
      margin-left:20%
    }
    main #pink .cta a{
      padding:5px  30%;
      margin-left: 11%;
      /* padding-left: 5%; */
      /* display: block; */
      width:250px;
      margin-left: calc(width - 10px);
    }
    main #pink div div.div1{
      border-bottom: 4px solid rgb(255, 201, 180);
    }

    #CTA{
        padding-top:20px;
        padding-bottom:20px;
    }
    main #green{
      margin-top: -5vh;
    }
    #green .div1, #green .div2{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom:6vh;
    }
    #green .div1{
      margin-top: 7vh;
      border-bottom: 4px solid rgb(98, 222, 152);
      padding-bottom:5vh;
      /* margin-bottom:6vh; */
    }

    #green p{
      margin-top:7vh;
    }
    main #green div img{
      width:60%;
      margin-top:2vh;
    }
    footer .detail > p{
        width: 20%;
        margin-left:40% ;
    }
}
